<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Forum</title>


</head>
<body>
<main>

    <!--Navigation bar made using bootstrap4-->
    <nav class="navbar sticky-top navbar-expand-lg  navbar-light bg-light">
        <a class="navbar-brand"><img src="../static/images/logo.jpg" th:src="@{/images/logo.jpg}" width="50" class="rounded-circle" alt="Logo"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html" title="HomePage" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product.html" th:href="@{/product}">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="forum.html" th:href="@{/forum}">Forum</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                        Sign In/Up
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="signin.html" th:href="@{/signin}">Sign In</a>
                        <a class="dropdown-item" href="register.html" th:href="@{/register}">Register</a>
                        <a class="dropdown-item" href="profile.html" th:href="@{/profile}">Profile</a>
                        <a class="dropdown-item" href="users.html" th:href="@{/users}">Users</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


<!--Images of shoes with a radio button so users can select which item to review-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"><h2>Concord<input type="radio" name="shoe" value="concord"></h2><img src="../static/images/shoe/concord.jpg" th:src="@{/images/shoe/concord.jpg}" class="img-fluid" alt="Shoe"></div>
        <div class="col-md-4"><h2>Space Jam<input type="radio" name="shoe" value="concord"> </h2><img src="../static/images/shoe/spacejam.jpg" th:src="@{/images/shoe/spacejam.jpg}" class="img-fluid" alt="Shoe"></div>
        <div class="col-md-4"><h2>Legend Blue<input type="radio" name="shoe" value="concord"> </h2><img src="../static/images/shoe/columbia.jpg" th:src="@{/images/shoe/columbia.jpg}" class="img-fluid" alt="Shoe"></div>
        <div class="col-md-4"><h2>72-10<input type="radio" name="shoe" value="concord"> </h2><img src="../static/images/shoe/72-10.jpg" th:src="@{/images/shoe/72-10.jpg}" class="img-fluid" alt="Shoe"></div>
        <div class="col-md-4"><h2>Bred<input type="radio" name="shoe" value="concord"> </h2><img src="../static/images/shoe/bred.jpg" th:src="@{/images/shoe/bred.jpg}" class="img-fluid" alt="Shoe"></div>
        <div class="col-md-4"><h2>Gamma Blue<input type="radio" name="shoe" value="concord"> </h2><img src="../static/images/shoe/gammablue.jpg" th:src="@{/images/shoe/gammablue.jpg}" class="img-fluid" alt="Shoe"></div>
    </div>
</div>

<br/>
<br/>

<!--HTML framework bootstrap used to make responsive from-->
    <form>
        <div class="form-group">
            <label for="Textarea">Product Review:</label>
            <textarea class="form-control" id="Textarea" rows="7"></textarea>
            <input type="submit" value="Submit"/>
        </div>
    </form>



<footer>
    &copy; A. Syed
</footer>

</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>