<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Air Jordan 11</title>


</head>
<body>
<main>

    <!--Navigation bar made using bootstrap4-->
    <nav class="navbar sticky-top navbar-expand-lg  navbar-light bg-light">
        <a class="navbar-brand"><img src="../static/images/logo.jpg" th:src="@{/images/logo.jpg}" width="50" class="rounded-circle" alt="Logo"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html" title="HomePage" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product.html" th:href="@{/product}">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="forum.html" th:href="@{/forum}">Forum</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                        Sign In/Up
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="signin.html" th:href="@{/signin}">Sign In</a>
                        <a class="dropdown-item" href="register.html" th:href="@{/register}">Register</a>
                        <a class="dropdown-item" href="profile.html" th:href="@{/profile}">Profile</a>
                        <a class="dropdown-item" href="users.html" th:href="@{/users}">Users</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <img src="../static/images/MJ.png" th:src="@{/images/mj.png}" class="img-fluid" alt="Michael Jordan quote">

    <br/>
    <br/>
    <br/>
    <header><h1 class="container text-center"><b>BEHIND THE DESIGN</b> <br/></h1></header>
    <article><div class="container text-center">
        In 1993, Michael Jordan announced that he'd step away from the league to take on the challenge of professional baseball. The news that the game's most recognised figure would be leaving at the height of his career triggered many questions, including the state of his Air Jordan signature footwear line. While many felt it should not continue, there were a select few who still believed, including designer Tinker Hatfield, who began his work for the line with the Air Jordan III.<br/><br/>
    Some thought the line should conclude with the Air Jordan X, but Hatfield still believed it should continue even if Michael had no presence on the hardwood. "My impression was that, in the marketplace, he had already transcended the sport and it didn't matter. It didn't matter as much if he was playing or not", Hatfield explained. Like most innovators, Hatfield followed his gut and began work on what would go on to become The Grail—the 11th Air Jordan.</div></article>
    <br/>
    <br/>
    <br/>


    <img src="../static/images/wallpaper/wallpaper2.jpg" th:src="@{/images/wallpaper/wallpaper2.jpg}" class="img-fluid" alt="Shoe wallpaper">
    <br/>
    <br/>
    <br/>
    <article><div class="container text-center">
        In his competitive spirit, he wanted it to be one of the most innovative basketball shoes ever. "Like an athlete who's trying to win, I sort of took over and I put more thought and more technology and more innovation into the idea of the Jordan XI than anything I'd ever done before in my entire life at Nike. And that's why the shoe ended up with so many firsts", he shared. "It was partly me trying to prove that we can still do great design work even if Michael wasn't playing, and that innovation sells".<br/><br/>
        These "firsts" include the use of a full-length carbon-fibre plate specifically developed for the XI. Leveraging high-speed footage of athletes' footwear in action, Hatfield landed on this idea after noticing some basketball shoes were too flexible, causing bigger athletes to over-flex. Coupling that insight with his experience playing American football in high school, Hatfield began prototyping and developing a plate for the XI. "When I had a new pair of boots, they were a little bit stiff when walking out to the field, but on game day you just get electrified and go. American football boots start to become a performance tool because they're so stiff and you can move a little quicker". The full-length carbon-fibre plate would be coupled with full-length Nike Air cushioning in the finished product.</div></article>
    <br/>
    <br/>
    <br/>

    <img src="../static/images/wallpaper/wallpaper3.jpg" th:src="@{/images/wallpaper/wallpaper3.jpg}" class="img-fluid" alt="Shoe wallpaper">
    <br/>
    <br/>
    <br/>
    <article><div class="container text-center">
        As with all Air Jordan performance models, the team always wants to meet Michael's wants and needs. The Air Jordan XI's iconic shine stemmed from a specific request from the man himself. "Michael had always been asking about 'could we ever do a shiny basketball shoe?' And he didn't know what that meant, and neither did I, until I found a Japanese custom-made Nike Baseball shoe". The patent leather on the boot not only provided shine and kept things clean, but Hatfield also noticed it served as a form of support thanks to its rigidity.<br/><br/>
        Building on that thought, he came up with the concept of this patent leather rand for the XI, acting as a form of containment for Michael on the court. Not only did it serve a performance purpose, it brought luxury to the hardwood unlike any shoe before it. Aesthetically, Hatfield applied the rand through the lens of a performance vehicle. "I wanted the rand of the shoe to be like the body of a car, shiny and easy to clean", Hatfield described. "I had drawn some cars, and so this shoe was like a car in that it had a shiny body. But then it's a convertible, so it had a cloth top".</div></article>
    <br/>
    <br/>
    <br/>

    <img src="../static/images/wallpaper/wallpaper4.jpg" th:src="@{/images/wallpaper/wallpaper4.jpg}" class="img-fluid" alt="Shoe wallpaper">
    <br/>
    <br/>
    <br/>
    <article><div class="container text-center">
        The cloth top led to the Air Jordan XI's unique ballistic nylon upper. The team sourced a high-quality, durable nylon that had long been used on camping backpacks. The upper also featured a one-of-a-kind "speed-lacing" system with the use of nylon webbing loops. This was born from another insight straight from MJ, as early prototypes (pictured above) featured an asymmetrical tongue, which he did not want as he felt it may be tough for wearers to easily slip into.<br/><br/>
        Once the shoe was developed, it was then time to colour it up unlike any Air Jordan before it. While it was the white and black look that would instantly become part of its rise to grail status, it was really the dark Concord accents that made it unique. "I thought it should be a white and black shoe that could go with anything, but I threw purple on the bottom just to let everybody know, not only was I doing this crazy shoe, but I wasn't even going to go with any team colours, and I chose Concord Purple just to mess with people".</div></article>
    <br/>
    <br/>
    <br/>

    <img src="../static/images/wallpaper/wallpaper5.jpg" th:src="@{/images/wallpaper/wallpaper5.jpg}" class="img-fluid" alt="Shoe wallpaper">
    <br/>
    <br/>
    <br/>
    <article><div class="container text-center">
        Hatfield would go on to give Michael a pair with one very specific rule: don't wear them. "He comes back and starts practising in that shoe. We told him, 'Man, don't wear these in the game. Don't wear these in the game because we are not ready to commercialise these things yet'", Hatfield recalled sharing with MJ. Of course, in his unexpected MJ way, Michael went on to lace up the Air Jordan XI for the first time in the Eastern Conference semi-finals vs. the Orlando Magic.
        <br/><br/>
        While it may have been months before the model's retail release, the shoe would go on to instantly become that grail that everyone wanted. "It turned out to be brilliant on Michael's part, because the introduction of that shoe was unprecedented". Twenty-three years later, the iconic silhouette that brought luxury to the court and beyond still holds its grail status today.</div></article>
    <br/>
    <br/>

    <hr/>

    <div class="container-fluid">
        <header><h1><b>Tinker Hatfield ~ The Designer</b></h1></header>
        <br/>
        <!--Youtube video of designer Tinker Hatfield talking about the shoe-->
        <div class="container">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qp-b71MH8zQ"></iframe>
            </div>
        </div>
    </div>


    <!--Html validation with CSS style user feedback to constrain for regular email id-->
<div id="form">
<footer>
    <form novalidate>
        <h3>Sign up for our newsletter</h3>
        <p>
            <label for="mail">
                <span>Please enter an email address:</span>
                <input type="email" id="mail" name="mail">
                <span class="error" aria-live="polite"></span>
            </label>
        </p>
        <button>Submit</button>
    </form>
</footer>
</div>


    <footer>
        &copy; A. Syed
    </footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</main>
</body>
</html>