<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Profile</title>


</head>
<body>
<main>

    <!--Navigation bar made using bootstrap4-->
    <nav class="navbar sticky-top navbar-expand-lg  navbar-light bg-light">
        <a class="navbar-brand"><img src="../static/images/logo.jpg" th:src="@{/images/logo.jpg}" width="50" class="rounded-circle" alt="Logo"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html" title="HomePage" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product.html" th:href="@{/product}">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="forum.html" th:href="@{/forum}">Forum</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                        Sign In/Up
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="signin.html" th:href="@{/signin}">Sign In</a>
                        <a class="dropdown-item" href="register.html" th:href="@{/register}">Register</a>
                        <a class="dropdown-item" href="profile.html" th:href="@{/profile}">Profile</a>
                        <a class="dropdown-item" href="users.html" th:href="@{/users}">Users</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <img src="../static/images/wallpaper/wallpaper6.jpg" th:src="@{/images/wallpaper/wallpaper6.jpg}" class="img-fluid" alt="Shoe wallpaper">

    <header>
        <h1>Profile</h1>
    </header>




    <!--Table for profile information-->
    <table border="1" align="center">
        <tr>
            <td>First Name:</td>
            <td th:text="${collatedUser.getJordanUser().firstName}">Abul</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td th:text="${collatedUser.getJordanUser().lastName}">Syed</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${collatedUser.getJordanUser().email}">Syed@mail.com</td>
        </tr>
    </table>
    <br />
    <br />
    <!--Table for login history-->
    <table border="1" align="center">
        <tr>
            <th>Login History</th>
        </tr>
        <tr th:each="login : ${collatedUser.logins}">
            <td th:text="${login.time}">1st March 2019</td>
        </tr>
    </table>


    <footer>
        &copy; A. Syed
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</main>
</body>
</html>